body{
    display: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg,#6bb0ff, #2738cd);
    min-height: 100vh;
}

main{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #5552ee;
}

h2{
    font-size: 30px;
    font-weight: 600;
}

.text{
    text-align: left;
    margin-left: 150px;
    text-transform: uppercase;
}

.insert-value{
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}

.resultado {
    align-items: center;
    display: inline;
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#6b7aff, #8227cd);
    width: 40%;
    padding: 1rem;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding-left: 22px;
    text-align:center;
    font-size: 17px;
}

.resultado:hover {
    box-shadow: 1px 1px 10px #341f97;
}